<?xml version="1.0" encoding="UTF-8"?>
<config>

	<general>
		<fanpage>PrefsCuritiba</fanpage>
		<accessToken></accessToken>
	</general>

	<posts>
		<!-- Value 0 means no limit for number of request to retrieve posts. -->
		<!-- Each request returns 25 posts. -->
		<quantity>1</quantity>
		<since></since>
		<until></until>
	</posts>

	<comments>
		<!-- Value 0 means no limit for number of request to retrieve comments. -->
		<!-- Each request returns 100 comments. -->
		<quantity>1</quantity>
	</comments>

</config>